<form (ngSubmit)="salvar()" [formGroup]="form">	
  <div class="card">
    <div class="card-header">
      <span class="fa fa-file"></span> {{ title }}
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">		
          <label for="nome">* Nome</label>			
          <input id="nome" name="nome" type="text" formControlName="nome"  class="form-control"  [(ngModel)]="funcionario.nome" />          
          <div *ngIf="submitted && f.nome.errors" class="text-danger">
            <div *ngIf="f.nome.errors.required">Nome é obrigatório!</div>
          </div>         
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">		
          <label for="idade">* Idade</label>			
          <input id="idade" name="idade" formControlName="idade" type="number" class="form-control"  [(ngModel)]="funcionario.idade" />          
          <div *ngIf="submitted && f.idade.errors" class="text-danger">
            <div *ngIf="f.idade.errors.required">Idade é obrigatória!</div>
          </div>    
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">		
          <label for="cargo">* Cargo</label>			
          <input id="cargo" formControlName="cargo" name="cargo" type="text" class="form-control"  [(ngModel)]="funcionario.cargo" />          
          <div *ngIf="submitted && f.cargo.errors" class="text-danger">
            <div *ngIf="f.cargo.errors.required">Cargo é obrigatório!</div>
          </div>       
        </div>                  
      </div>  
    </div>
    <div class="card-footer">
      <a routerLink="/" class="btn btn-light float-right" >
        <span class="fa fa-remove"> Cancelar</span> </a>      	
      <button type ="submit" class="btn btn-primary float-right"><span class="fa fa-save"></span> Salvar
      </button>	
    </div>
  </div>
</form>	   