
<div class="card">
  <div class="card-header">
    <span class="fa fa-th-list"></span> Lista de Funcionários
  </div>
  <div class="card-body">
    <div class="form-horizontal">        
      <br />         
      <div class="row-fluid">				
        <div class="table-responsive">          						            
          <table class="table table-sm table-hover table-bordered table-condensed">
            <thead>
              <tr>
                <td>Id</td>
                <td>Nome</td> 
                <td>Idade</td>
                <td>Cargo</td>
                <td></td>                
                <td></td>                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of funcionarios" class="table-sm">
                <td>{{ item.id }}</td>
                <td>{{ item.nome }}</td>    
                <td>{{ item.idade }}</td>   
                <td>{{ item.cargo }}</td>           
                <td><a [routerLink]="['/funcionario', item.id]"  
                  class="btn btn-sm btn-info"><span class="fa fa-pencil"></span> Editar</a></td>
                <td><a (click)="remover(item)" class="btn btn-sm btn-danger" ><span class="fa fa-trash"></span> Excluir</a></td>
              </tr>							
            </tbody>
          </table>   
        </div>		
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a  routerLink="/funcionario_new" class="btn btn-primary float-right"><span class="fa fa-plus"></span> Novo</a>          
  </div>
</div>  